# Dependencies
node_modules/

# Hasil build web
dist/

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.local

# Android build (folder android/ tetap di-commit, tapi hasil build-nya diabaikan)
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/
